<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RWC GUI - Home</title>
</head>

<body>
<section name="centerContent">
<div name="topBar">
	<h1>Raspi Watering Co. Web GUI</h1>
	<nav>
		<a href={{navurl['index']}}>Home</a>
		<a href={{navurl['init']}}>Initialize</a>
		<a href={{navurl['waterLog']}}>Water Log</a> 
	</nav>
</div>

<div name="Sectors">
	<h3>Initialize Sectors</h3>
	<p id="sectorList">
	<form name="sector" class="sectForm" method="POST">
	{%for sector in sectData['sector']%}
	<h4>Sector {{sector['id']}}</h4>
	<p>ID: <input type="text" class="initForm" name="sectorID" placeholder="Sector ID" value={{sector['id']}}></p></br>
	<p>Pin: <input type="text" class="initForm" name="sectorPin" placeholder="GPIO Pin" value={{sector['pin']}}></p></br>
	<p>Incriment: <input type="text" class="initForm" name="sectorInc" placeholder="Rain Incriment" value={{sector['rain-inc']}}></p></br>
	<input type="submit" class="initForm" id="btnDelete" name="sectDel_{{sector['id']}}" value="Delete">
	{%endfor%}
	</br></br><input type="submit" class="mainForm" id="btnAdd" name="sectAdd" value="Add New">
	</br></br><input type="submit" class="mainForm" id="btnInit" name="sectInit" value="Initialize">
	</form>
	</p>
</div>
</section>
</body>
</html>
