<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/Styles/styles.css">

	<title>RWC GUI - Home</title>
</head>

<body onload="RunScript()">
<section name="centerContent">
<div name="topBar">
	<h1>Raspi Watering Co. Web GUI</h1>
	<nav>
		<a href="index.html">Home</a>
		<a href="initialize.html">Initialize</a>
		<a href="water-log.html">Water Log</a> 
	</nav>
</div>

<div name="waterLog">
	<h3>Water Log</h3>
	<ul></ul>
</div>
</section>
</body>

<script>
var ul = document.getElementsByTagName("ul")[0];

function GetWaterLog(){
	console.log("begin getting weather report");
	var request = new XMLHttpRequest();
	request.open("GET", "ScriptsPy/TextFiles/water-log.txt", true);
	request.send(null);
	console.log(request);
	request.onreadystatechange = function(){
		if (request.readyState == 4 && request.status == 200){
			var waterLog = request.responseText.split("\n");
			console.log(waterLog);

			for (var i = 0; i < waterLog.length; i++){
				ShowWaterLog(waterLog[i]);
			}
		}
	}

function ShowWaterLog(waterLogLine){
	var li = document.createElement("li");
	li.innerHTML = waterLogLine;
	ul.appendChild(li);
}
}

function RunScript(){
	GetWaterLog();
}
</script>
</html>
