<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Chris Haworth">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href={{styles}}>

	<title>RWC GUI - Home</title>
</head>

<body>
<section name="centerContent">
<div name="topBar">
	<h1>Raspi Watering Co. Web GUI</h1>
	<nav>
		<a href={{navurl['index']}}>Home</a>
		<a href={{navurl['init']}}>Initialize</a>
		<a href={{navurl['waterLog']}}>Water Log</a> 
	</nav>
</div>

<div name="waterLog">
	<h3>Water Log</h3>
	<form method="POST">
	<input name= "clear" type="submit" value="Clear Log">
	</form>
	<ul>
	{%for line in waterLog['log']%}
	<li>{{line['date']}} {{line['time']}} {{line['message']}}</li>
	{%endfor%}
	</ul>
</div>
</section>
</body>
</html>
